@model CW_SITAIRIS.Models.Order

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                
                <input type="hidden" asp-for="carId" class="form-control" hidden />
                <span asp-validation-for="carId" class="text-danger"></span>
            </div>
            <div class="form-group">
               
                <input type="hidden" asp-for="clientId" class="form-control" hidden />
                <span asp-validation-for="clientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dateOpened" class="control-label" hidden></label>
                <input  asp-for="dateOpened" class="form-control" disabled="disabled"/>
                <span asp-validation-for="dateOpened" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Receive date:</label>
                <input asp-for="dateClosed" class="form-control" />
                <span asp-validation-for="dateClosed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
