@model CW_SITAIRIS.Models.Order

@{
    ViewData["Title"] = "Delete";
}

<h2>Удаление</h2>

<h3>Вы уверены, что хотите удалить заказ?</h3>
<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Номер авто
        </dt>
        <dd>
            @Html.DisplayFor(model => model.carId)
        </dd>
        <dt>
           Номер клиента
        </dt>
        <dd>
            @Html.DisplayFor(model => model.clientId)
        </dd>
        <dt>
            Заказ создан
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dateOpened)
        </dd>
        <dt>
            Дата выдачи авто
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dateClosed)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="orderId" />
        <input type="submit" value="Удалить" class="btn btn-default" /> |
        <a asp-action="Index">Назад к списку</a>
    </form>
</div>
