@model CW_SITAIRIS.Models.TestDrives

@{
    ViewData["Title"] = "Содание ";
}

    <h2>Содание</h2>

<h4>Тест-драйв</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                
                <input asp-for="userId" class="form-control" type="hidden"/>
                
            </div>
            <div class="form-group">
                
                <input asp-for="carId" class="form-control" type="hidden" />
                
            </div>
            <div class="form-group">
                <label class="control-label">Дата:</label>
                <input asp-for="date" class="form-control" />
                <span asp-validation-for="date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
