@model CW_SITAIRIS.Models.TestDrives

@{
    ViewData["Title"] = "Подробности";
}

<h2>Подробности</h2>

<div>
    <h4>Тест-драйв</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ИД пользователя
        </dt>
        <dd>
            @Html.DisplayFor(model => model.userId)
        </dd>
        <dt>
            ИД автомобиля
        </dt>
        <dd>
            @Html.DisplayFor(model => model.carId)
        </dd>
        <dt>
            Дата тест-драйва
        </dt>
        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.idDrive">Изменить</a> |
    <a asp-action="Index">Назад к списку</a>
</div>
