@{
    ViewData["Title"] = "O нас";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<div class="card-body" style="width: 45%" align="center">
    <p>
        <h2>Автомобильный дом «Энергия ГмбХ»</h2>
        <h3>Autohouse Energia GmbH</h3>
        <h4>220035 Minsk, Timiryazeva, 70</h4>
        <h5>
            + 375 17 309-9999
        </h5>
        <h5>
            + 375 29 603-9999
        </h5>
        <h5>
            + 375 33 603-9999

        </h5>
        <h5>
            + 375 25 603-9999
        </h5>
        <h6>
            e-mail: info@mercedes-benz.by

        </h6>
        <h6>
            © Mercedes-Benz Беларусь, 2020
        </h6>
    </p>
</div>



<p>
    На белорусском рынке марка Audi официально представлена с 1994 года.
    Импортером AUDI AG в Республике Беларусь является ООО «Автосалон-АВ»,
    который на протяжении нескольких лет занимает лидирующую позицию по
    продажам новых автомобилей класса «премиум» в Беларуси.
</p>
