@{
    ViewData["Title"] = "Домашняя страница";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active" >
            <img class="img-responsive" src="~/images/Volks.jpg" alt="Volkswagen" />
            <div class="carousel-caption" role="option">
                <p>
                    Volkswagen -- автомобили для всех.
                    <br />
                    <a class="btn btn-default" href="/Cars/Index?mark=Volkswagen">
                        Подробнее
                    </a>
                </p>
            </div>
        </div>
        <div class="item" width="1300" height="100">
            <img src="~/images/Volvo-XC90-T8.jpg" alt="Volvo" class="img-responsive" width="1300" height="100" />
            <div class="carousel-caption" role="option">
                <p>
                    Volvo -- скандинавская надежность. <br />
                    <a class="btn btn-default" href="/Cars/Index?mark=Volvo">
                        Подробнее
                    </a>
                </p>
            </div>
        </div>
        <div class="item" width="1300" height="100">

            <img src="~/images/scale_1200.jpg" width="1300" height="100"/>
            <div class="carousel-caption" role="option">
                <p>
                    Jaguar -- британский темперамент.<br />
                    <a class="btn btn-default" href="/Cars/Index?mark=Jaguar">
                        Подробнее
                    </a>
                </p>
            </div>
        </div>
        <div class="item" width="1300" height="100">
            <img src="~/images/Mercedes_ 2133x1200.jfif" width="1300" height="100" />

            <div class="carousel-caption" role="option">
                <p>
                    Mercedes-Benz: Das auto.<br />
                    <a class="btn btn-default" href="/Cars/Index?mark=Mercedes">
                        Подробнее
                    </a>
                </p>
            </div>
        </div>
        <div class="item" width="1300" height="100">
            <img src="~/images/bmw-m2-road-f87-2020-cars-blue-m2.jpg" width="1300" height="100" />
            <div class="carousel-caption" role="option">
                <p>
                    BMW. Автомобиль для водителя.<br />
                    <a class="btn btn-default" href="/Cars/Index?mark=BMW">
                        Подробнее
                    </a>
                </p>
            </div>
        </div>


        <div class="item" width="1300" height="100">
            <img src="~/images/5719c0e6ec05c43440000151.jpg" width="1300" height="100" />
            <div class="carousel-caption" role="option">
                <p>
                    Geely. Чудеса из поднебесной<br />
                    <a class="btn btn-default" href="/Cars/Index?mark=Geely">
                        Подробнее
                    </a>
                </p>
            </div>
        </div>

    </div>

    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>


<div class="card-deck">

    <div class="card" >
        <div class="card-img-top">
            <img src="~/images/Jetta_975kh623_1025kh655_min.jpg" alt="Alternate Text" height="auto" width="540px"/>
        </div>
        <div class="card-body">
            <h4 class="card-title">Тест-драйв</h4>
            <p class="card-text">
                Бесплатный тест-драйв -- отличный способ познакомится с будущим автомобилем.
            </p>
            <a asp-controller="Cars" asp-action="Index" class="btn btn-primary">Записаться на тест-драйв</a>

        </div>
    </div>

    <div class="card" >

        <div class="card-body">
            <h4 class="card-title">Каталог автомобилей</h4>
            <p class="card-text">
                Большой выбор авто различных производителей. Подберите авто, которое идеально подойдет вам.
            </p>
            <a asp-controller="Cars" asp-action="Index" class="btn btn-primary">Перейти к каталогу</a>

        </div>
        <div class="card-img-bottom">
            <img src="~/images/mercedesc.jpg" alt="Alternate Text" height="auto" width="540px" />
        </div>
    </div>

</div>




