@{
    ViewData["Title"] = "Политика конфиденциальности";
}
<h2>@ViewData["Title"]</h2>

<p>
    <h4>Cookies</h4>
    <h3>
        Сайт использует cookies для отслеживания предпочтений посетителей сайта и
        соответствующей оптимизации его дизайна.
        Cookies – это небольшие файлы, сохраняющиеся на жестком диске Вашего компьютера.
        Они облегчают навигацию, делают посещение сайта более удобным.
        Cookies также помогают нам в определении наиболее популярных тематических разделов нашего интернет-контента.
        Это позволяет нам более целенаправленно адаптировать содержание страниц сайта к Вашим потребностям,
        а следовательно и улучшать наш контент в Ваших интересах. Cookies могут использоваться для того,
        чтобы установить наличие прежних выходов с Вашего компьютера на наш сайт. На вашем компьютере происходит лишь идентификация cookie.
        Персональные данные сохраняются в cookies только в том случае,
        если Вы даете на это разрешение, например, чтобы облегчить
        защищенный доступ в Интернет и не вводить повторно ID пользователя и пароль.

        Просмотры нашего сайта возможны, конечно, и без cookies.
        В большинстве браузеров прием cookies осуществляется автоматически.
        Сохранению cookies на Вашем жестком диске Вы можете воспрепятствовать, заблокировав в настройках браузера опцию «прием cookies».
        Вы можете также в любое время удалить cookies, находящиеся на жестком диске Вашего компьютера.
        Блокировка приема cookies, однако, может привести к ограничению доступа к сервисам, которые предоставляются на нашем сайте.
    </h3>
</p>
