@model CW_SITAIRIS.Models.Car

@{
    ViewData["Title"] = "Создание";
}

    <h2>Создание</h2>

<h4>автомобиля</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Страна</label>
                <input asp-for="country" class="form-control" />
                <span asp-validation-for="country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Цвет</label>
                <input asp-for="color" class="form-control" />
                <span asp-validation-for="color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Марка</label>
                <input asp-for="mark" class="form-control" />
                <span asp-validation-for="mark" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Модель</label>
                <input asp-for="model" class="form-control" />
                <span asp-validation-for="model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Двигатель</label>
                <input asp-for="engine" class="form-control" />
                <span asp-validation-for="engine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Цена</label>
                <input asp-for="price" class="form-control" />
                <span asp-validation-for="price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Комплектация</label>
                <input asp-for="built" class="form-control" />
                <span asp-validation-for="built" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Склад</label>
                <input asp-for="warehouseId" class="form-control" />
                <span asp-validation-for="warehouseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="file" asp-for="picture" class ="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
